<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Nuestra Familia</h1>
    </header>
    <main>
        <section class="homeSection">
            <a href="tel.html">
                <article>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <h3>Telefonos</h3>
                </article>
            </a>
            <a href="">
                <article>
                    <div>
                        <i class="fa-solid fa-cake-candles"></i>
                    </div>
                    <h3>Cumpleaños</h3>
                </article>
            </a>
            <a href="shoppingList.html">
                <article>
                    <div>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <h3>Lista de compras</h3>
                </article>
            </a>
            <a href="">
                <article>
                    <div>
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                    <h3>Eventos</h3>
                </article>
            </a>
        </section>
    </main>
    <footer>
        <p>Designed by <a href="">Tomas Costa</a></p>
    </footer>
</body>
</html>