<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="javascript: history.go(-1)"><i class="fa-solid fa-circle-chevron-left backPage"></i></a>
        <h1>Nuestra Familia</h1>
    </header>
    <main>
        <div id="container">
            <form action="#">
                <label for="anadir">Mi lista de la compra:</label>
                <input type="text" name="anadir" id="anadir">
                <input type="button" value="Añadir a la lista">
            </form>    
            
            <ul id="listaCompra"></ul>
            
            <p>Nota: Puedes eliminar elementos de la lista haciendo doble click sobre ellos</p>
            <script src="../js/shoppingList.js"></script>
        </div>
    </main>
    <footer>
        <p>Designed by <a href="">Tomas Costa</a></p>
    </footer>
</body>
</html>