<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="javascript: history.go(-1)"><i class="fa-solid fa-circle-chevron-left backPage"></i></a>
        <h1>Nuestra Familia</h1>
    </header>
    <main>
        <section class="telSection">
            <a href="">
                <article>
                    <div>
                        <h3>Tomas</h3>
                        <p>221-351-1750</p>
                    </div>
                    <i class="fa-solid fa-phone"></i>
                </article>
            </a><a href="">
                <article>
                    <div>
                        <h3>Mariela</h3>
                        <p>221-351-1750</p>
                    </div>
                    <i class="fa-solid fa-phone"></i>
                </article>
            </a><a href="">
                <article>
                    <div>
                        <h3>Enrique</h3>
                        <p>221-351-1750</p>
                    </div>
                    <i class="fa-solid fa-phone"></i>
                </article>
            </a><a href="">
                <article>
                    <div>
                        <h3>Pilar</h3>
                        <p>221-351-1750</p>
                    </div>
                    <i class="fa-solid fa-phone"></i>
                </article>
            </a><a href="">
                <article>
                    <div>
                        <h3>Benjamin</h3>
                        <p>221-351-1750</p>
                    </div>
                    <i class="fa-solid fa-phone"></i>
                </article>
            </a>
        </section>
    </main>
    <footer>
        <p>Designed by <a href="">Tomas Costa</a></p>
    </footer>
</body>
</html>